<!--
===================================================================
== lovingly brought to you by... ==================================
===================================================================
 ______     __  __     ______     ______     __  __     ______
 /\  ___\   /\ \_\ \   /\  __ \   /\  == \   /\ \/\ \   /\  ___\
 \ \ \____  \ \  __ \  \ \ \/\ \  \ \  __<   \ \ \_\ \  \ \___  \
  \ \_____\  \ \_\ \_\  \ \_____\  \ \_\ \_\  \ \_____\  \/\_____\
    \/_____/   \/_/\/_/   \/_____/   \/_/ /_/   \/_____/   \/_____/

    ===================================================================
    =============================== http://www.voxmedia.com/careers ===
    ===================================================================
-->
<html>
  <head>
    <title>OpenGraph Title Fallback</title>
    <meta property="og:title" content="OpenGraph Title" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="My OpenGraph sample site for Rspec" />
    <meta property="og:image" content="http://test.host/images/rock1.jpg" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image" content="/images/rock2.jpg" />
    <meta property="og:image:height" content="1000" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:url" content="http://test.host" />
    <meta property="og:locale:alternate" content="fr_FR" />
    <meta property="og:locale:alternate" content="es_ES" />
    <meta name="description" content="Short Description Fallback" />
  </head>
  <body>
    <img src="http://test.host/images/wall1.jpg" />
    <img src="http://test.host/images/wall2.jpg" />
  </body>
</html>
