<html>
  <head>
    <title>OpenGraph Title Fallback</title>
    <meta property="og:title" content="OpenGraph Title" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://test.host" />
    <meta property="og:description" content="My bad OpenGraph sample site for Rspec" />
    <meta property="og:image" content="http://test.host/images/bad_rock1.jpg" />
  </head>
  <body>
    <img src="http://test.host/images/wall1.jpg" />
    <img src="http://test.host/images/wall2.jpg" />
